src/netcracker/bsuir/eremeeva/airport/files/AirlinesScheema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<schema xmlns="http://www.w3.org/2001/XMLSchema"
		targetNamespace="http://www.example.com/Airlines"
		xmlns:tns="http://www.example.com/Airlines">

	<element name = "airlines">
		<complexType>
			<sequence>
				<element name = "airline" type = "tns:Airline" minOccurs = "1" maxOccurs = "unbounded"/>
			</sequence>
		</complexType>
	</element>


	<complexType name = "Airline">
		<sequence>
			<element name = "name" type="string"/>
			<element name = "year" type="integer"/>
			<element name = "address" type="string"/>
		</sequence>
		<attribute name = "code" type = "string" use = "required"/>
	</complexType>
		
</schema>